
button{
	color: #333;
	background-color: #fff;
	box-sizing: 18px;
	border-spacing: 0%;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	font-size: 18px;
	padding: 0px;
	margin: 0px;

}